# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\Utilisateur\Documents\M1\S8\info802\ServiceOrientedArchitectures\tp\MarketPlace\ClientSOAP-Python\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
